@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --main-background-color: #2F4858;
    --second-background-color: #CCE3DE;
    --active-background-color: #e5e1eb;
    --hover-background-color: #EAF4F4;
    --read-background-color: #FCFAFA;
}

body {
    background-color: var(--main-background-color);
    font-family: 'Roboto', sans-serif;
}

/* global button style */
.email-button {
    background-color: transparent;
    border: 0;
}

.email-button:focus {
    outline: none;
}

.email-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.email-button:active {
    transform: scale(0.92);
}

/* Left Part: Email Menu */
.left-container {
    background-color: var(--main-background-color);
    height: 100vh;
    max-width: 400px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-header-logo {
    margin: 2rem 0rem 4rem 2rem;
}

.btn-compose {
    background-color: #ffae6e;
    border-radius: 0.8rem;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    padding: 1rem 4rem;
}

.btn-compose:hover {
    background-color: #f8984f;
}

.menu {
    background-color: var(--main-background-color);
    max-width: 360px;
    width: 100%;
}

.menu-item {
    color: #fff;
    font-size: 1.1rem;
    list-style: none;
    padding: 0.3rem 0.4rem;
    margin: 0.3rem 0;
}

.menu-item.active {
    background-color: var(--active-background-color);
    color: #000;
}

.menu-item:hover {
    background-color: var(--active-background-color);
    color: #000;
}

.menu-item i {
    margin : 0.6rem 1rem 0.6rem 1rem;
}

/* Middle Part: Email List Header */
.middle-container {
    background-color: #fff;
}

.email-list-header {
    background-color: var(--second-background-color);
    font-size: 1.1rem;
    padding: 1.2rem 1rem 0.5rem 0;
}

.search-input {
    background-color: transparent;
    border : 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;  
    width: 90%; 
}

.search-input:focus,
.search-input:active {
    outline: none;
}

.selectedmenu {
    background-color: var(--main-background-color);
    color: #fff;
    height: 1.5rem;
    padding-left: 1.5rem;
}

/* Middle Part: Email List Items */
.item-container{
    margin: 0.3rem 0 0 0;
    padding: 0 0.5rem 0 1.5rem;
}

.item-container.unread{
    background-color: var(--hover-background-color);
}

.item-container.read{
    background-color: var(--read-background-color);
}

.item-container.selected
{
    background-color: var(--active-background-color);
}

.item-container:hover {
    background-color: var(--active-background-color);
}

.icon-item-from {
    font-size: 1.8rem;
}

.email-from {
    font-size: 1rem;
    font-weight: bold;
}

.email-subject {
    font-size: 0.9rem;
}

.item-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.btn-icon {
    background-color: transparent;
    border: 0;
}

/* Middle Part: Footer */
.email-list-footer {
    background-color: var(--second-background-color);
    bottom: 0;
    font-size: 1.2rem;
    text-align: center;
}

/* Right Part: Email Content */
.right-container {
    background-color: #fff;
}

.email-content-subject {
    font-size: 1.3rem;
    font-weight: bold;
}
